@import "compass/reset"
@import "compass/css3"
@import "compass/utilities/general/clearfix"

$orange: #ff431a
$purple: #662443

body
  font-family: helvetica, arial, sans
  font-size: 12px

#header
  padding: 50px 0 
  +clearfix
  
  a
    display: block
    height: 95px
    line-height: 999px
    float: left
    outline: none
    
  .rocinha-santa-claus
    background: url(/images/logo-santa-claus.png) no-repeat right center
    margin-right: 40px
    width: 610px
  
  .rocinha-org
    background: url(/images/logo-rocinha-org.png) no-repeat left center
    width: 310px

#main
  +pie-clearfix
  
  #video
    background: #fff
    border-left: 10px solid $orange
    border-right: 1px solid $purple
    float: left
    width: 640px
    height: 390px
    margin-right: 30px
  
  .goal
    p
      color: #666
      display: inline-block
      font-size: 18px
      padding: 20px 0
      line-height: 24px
      width: 570px
      strong
        font-weight: bold
      
  .numbers
    color: $purple
    letter-spacing: -2px
    padding-top: 16px
    strong
      font-size: 52px
      font-weight: bold
    p
      font-size: 48px
      padding-bottom: 16px
      
  .donate
    background: $purple
    padding: 26px 0 20px
    .pagseguro, .im-american
      display: none
    a
      color: #fff
      display: inline-block
      font-size: 11px
      padding-top: 6px
      text-decoration: none
      
  .brasileiro
    .paypal, .sou-brasileiro
      display: none
    .pagseguro, .im-american
      display: block
  
  .share
    strong
      color: $purple
      font-size: 26px
      font-weight: bold
      padding-right: 30px
      vertical-align: top