#video
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "390", :src => "http://www.youtube.com/embed/mS_PjwaqZYE", :width => "640"}
  
%p.goal "let's buy as many christimas gift as we can!"

.numbers
  %p
    %strong 18 
    days left
  %p
    %strong $23.00 
    raised
    
.donate
  %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
    %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
    %input{:name => "encrypted", :type => "hidden", :value => "#{paypal}"}
    %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "http://www.founderschannel.com/images/PaypalDonateButton.gif", :type => "image"}
    %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
  
.share
  %strong share
  .fb-like{"data-font" => "arial", "data-send" => "true", "data-show-faces" => "false", "data-width" => "450"}

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127230910711389";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));