#video
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "390", :src => "http://www.youtube.com/embed/mS_PjwaqZYE", :width => "640"}

.numbers
  %p
    %strong{:id => 'countdown'}
    days left
  %p
    %strong $315.00 
    raised
    
.donate
  .paypal
    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
      %input{:name => "encrypted", :type => "hidden", :value => "#{paypal}"}
      %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "http://www.rocinhasantaclaus.org/images/btn-paypal.png", :type => "image"}
      %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
  .pagseguro
    %form{:action => "https://pagseguro.uol.com.br/v2/checkout/cart.html?action=add", :method => "post", :target => "pagseguro"}
      %input{:name => "receiverEmail", :type => "hidden", :value => "felipef.silva@gmail.com"}/
      %input{:name => "currency", :type => "hidden", :value => "BRL"}/
      %input{:name => "itemId", :type => "hidden", :value => "1"}/
      %input{:name => "itemDescription", :type => "hidden", :value => "Doação"}/
      %input{:name => "itemQuantity", :type => "hidden", :value => "1"}/
      %input{:name => "itemAmount", :type => "hidden", :value => "5.00"}/
      %input{:name => "itemWeight", :type => "hidden", :value => ""}/
      %input{:name => "itemShippingCost", :type => "hidden", :value => "0.00"}/
      %input{:alt => "Pague com PagSeguro - é rápido, grátis e seguro!", :name => "submit", :src => "/images/btn-pagseguro.png", :type => "image"}

  %a.sou-brasileiro{:href => "#"} ( Sou seu amigo do Brasil )
  %a.im-american{:href => "#"} ( I'm your friend from NYC )
  
.goal
  %p
    "I am taking christmas gifts to children in need in brazil's largest slum. 
    %strong Let's buy as many Christmas gifts as we can!"
    
.share
  %strong share
  .fb-like{"data-font" => "arial", "data-send" => "true", "data-show-faces" => "false", "data-width" => "450"}

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127230910711389";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27306318-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();